@font-face {
    font-family: 'GeosansLight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/geo_sans_light/GeosansLight.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/indie_flower/IndieFlower.ttf') format('truetype'),
    url('../fonts/indie_flower/IndieFlower.woff') format('woff');
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        transform: scale(0.1) rotate(30deg);
        transform-origin: center bottom;
    }

    50% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(3deg);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes SlideVersGauche {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes SlideVersDroite {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

/*----------------------- B A L I S E S--------------------------*/

body{
    height: 100%;
    display: flex;
    margin: 0;
    overflow: hidden;
}

p, li, h1, h2{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin : 0;
}

h2{
    font-size: 3vw;
}

a{
    padding: 0;
    margin : 0;
    font-family: 'GeosansLight', sans-serif;
    text-decoration: none;
    color: #E1CD00;
    font-weight: bold;
    font-size: 1.5vw;
    transition: 500ms;
}

p{
    font-size: 1.5vw;
}

footer{
    background: #101820;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D7D2CB;
}

form{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

input{
    font-family: 'Roboto', sans-serif ;
    color: #212322;
    border-radius: 2vw;
    border-color: #212322;
    border-style: solid;
    padding: 1vw;
    width: 5vw;
}

textarea{
    font-family: 'Roboto', sans-serif ;
    color: #212322;
    border-radius: 2vw;
    border-color: #212322;
    border-style: solid;
    padding: 1vw;
    max-width: 80%;
    min-width: 50%;
    min-height: 30%;
    max-height: 40%;
}

input::selection, textarea::selection {
    background-color: black;
    color: #F1EB9C;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

/*----------------------- C L A S S E S ------------------------*/
.logo{
    width: 15vw;
}

.logo_style2{
    display: none;
}

.menu {
    width: 20%;
    background: #212322;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.menu a:hover{
    transition: 100ms;
    color: #7B6469;
}

.principal{
    width: 80%;
    height: 100vh;
}

.corps {
    display: flex;
    flex-direction: column;
    height: 90%;
    background: #F1EB9C;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.corps_texte{
    width: 50%;
    padding: 5%;
}

.corps_img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.photo_moi{
    max-width: 20vw;
    border-radius: 0 0 5vw 5vw;
}

.vide_intersideral{
    width: 6%;
}

.jackInTheBox {
    animation-name: jackInTheBox;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.description{
    text-align: center;
    font-size: 1.75vw;
    margin-bottom: 2vw;
}

.sub_description{
    margin-top: 1vw;
    font-size: 0.75vw;
    text-align: center;
    width: 20vw;
}

.msg {
    border-width: 2px;
}

.nom, .email{
    width: 30vw;
}

.bouton{
    background: #212322;
    color: #888888;
    height: 2vw;
    width: 7vw;
    padding: 0;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton:hover{
    color: #F1EB9C;
    transform: scale(1.025);
    transition: 0.05s;
}

.espacement{
    margin-top: 2vw;
}

#chargement {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: #212322;
}

.ziouziou {
    width: 25%;
}

@media screen and (min-device-width: 701px) and (max-device-width: 1000px ) {
    .vide_intersideral {
        height: 25%;
    }

    .bouton {
        font-size: 2.5vw;
        height: 4vw;
        width: 12vw;
    }
}

@media screen and (max-device-width: 700px) {

    p, a, label{
        font-size: 2.75vw;
    }

    h2{
        font-size: 8vw;
    }

    textarea{
        min-width: 50vw;
        max-width: 60vw;
        min-height: 35vw;
    }

    .menu a{
        font-size: 2vw;
    }

    .vide_intersideral{
        height: 30%;
    }

    .description{
        margin: 6vw 4vw 6vw;
        font-size: 4vw;
    }

    .nom, .email{
        width: 40vw;
    }

    .nom, .email, .msg{
        font-size: 5.5vw;
    }

    .bouton {
        font-size: 5vw;
        height: 10vw;
        width: 22vw;
    }
    .espacement{
        margin-top: 4vw;
    }

}